<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="https://verify.soraid.com/sora.js"></script>

    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Sora Example</title>
</head>
<body>
    <div id="container">
        <pre id="login-status">{{login_status}}</pre>
        <div id="login-data">
            <pre>{{login}}</pre>
        </div>
        <div id="error-data">
            <pre>error: {{error}}</pre>
        </div>
    </div>
</body>
</html>
