<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="https://verify.soraid.com/sora.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Sora Example</title>
</head>
<body>
    <div id="container">
        <form method="POST" action="/verification">
            <label for="verification_type">Verification Type:</label>
            <select name="verification_type" id="verification_type">
                <option value="ssn4">SSN4</option>
                <option value="ssn9">SSN9</option>
                <option value="address">Address</option>
                <option value="docv">DL</option>
            </select><br><br>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <p>or</p>
            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone"><br><br>
            <label for="redirect_url">Redirect URL:</label>
            <input type="text" name="redirect_url" id="redirect_url"> <br><br>
            <label for="login_id"><tt>login_id</tt></label>
            <input type="text" name="login_id" id="login_id"><br><br>
            <label for="auth_type_email"><tt>auth_type </tt> email:</label>
            <input type="checkbox" name="auth_type_email" id="auth_type_email"><br><br>
            <button id="loginsession">Create verificationSession</button>
        </form>
    </div>
    <script>
        if ('{{token}}'.length > 0) {
            verifyButton('{{token}}');
        }
    </script>
</body>
</html>
